.btn.btn-link.btn-circle.scroll {
  -webkit-animation: scrolling 3s ease infinite;
  -moz-animation: scrolling 3s ease infinite;
  -o-animation: scrolling 3s ease infinite;
  animation: scrolling 3s ease infinite;
}

@keyframes scrolling {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(0);
  }
}

